@import "tailwindcss";

/* 1. เพิ่มบรรทัดนี้ เพื่อบอกให้ Tailwind ทำงานเมื่อมีการเปลี่ยนคลาสเป็น .dark */
@custom-variant dark (&:where(.dark, .dark *));

/* 2. การตั้งค่าสีที่เราทำไว้ก่อนหน้านี้ */
@theme {
  --color-primary: #f97316;       
  --color-primary-hover: #ea580c; 
}

@layer base {
  * {
    @apply transition-colors duration-300 ease-in-out;
  }
  
  button:focus, input:focus, textarea:focus, select:focus {
    outline: none;
    box-shadow: none;
  }
}